.sidebar {
    width: 250px;
    height: 100vh;
    background: linear-gradient(180deg, #106100, #054000);
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.sidebar-logo {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-logo img {
    width: 120px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.sidebar-logo img:hover {
    transform: scale(1.1);
}

.user-info {
    padding: 5px;
    text-align: center;
    border-radius: 8px;
    background: rgba(228, 220, 220, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    margin: 15px;
    backdrop-filter: blur(5px);
}

.username {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.user-role {
    font-size: 14px;
    color: #ddd;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 15px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    transition: background 0.3s ease;
}

.nav a:hover {
    background: #6ee989;
    color: black;
    transform: scale(1.05);
}

.reports-dropdown {
    text-align: left;
    margin-top: 10px;
}

.reports-button {
    background: none;
    border: none;
    color: white;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    transition: background 0.3s ease;
}

.reports-button:hover {
    background: #6ee989;
    color: black;
    transform: scale(1.05);
}

.reports-menu {
    background: white;
    border-radius: 6px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.reports-menu a {
    color: black;
    padding: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.reports-menu a:hover {
    background: #6ee989;
    color: black;
    transform: scale(1.05);
}

.sidebar-bottom {
    margin-top: auto;
    text-align: center;
    padding-bottom: 30px;
}

.edit-profile-btn, .logout-btn, .register-btn {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.register-btn {
    background-color: #ffcc00;
    color: black;
}

.edit-profile-btn {
    background-color: #ffcc00;
    color: black;
}

.logout-btn {
    background-color: #ff4b5c;
    color: white;
}

.logout-btn:hover {
    background: #d63031;
}

.app-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.app-container.no-sidebar .main-content {
    margin-left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-content {
    flex-grow: 1;
    margin-left: 250px;
    width: calc(100% - 250px);
    overflow: hidden;
    padding: 20px;
    transition: margin-left 0.3s ease;
}